#yellowWing{
	position:absolute;
	left:111px;
	top:20px;
	width:210px;
	height:245px;
}

#blueWing{
	position:absolute;
	left:111px;
	top:20px;
	width:210px;
	height:245px;
}

#PinkWing{
	position:absolute;
	left:111px;
	top:20px;
	width:210px;
	height:245px;
}

#body{
	position:absolute;
	left:161px;
	top:137px;
	width:110px;
	height:129px;
}

#head{
	position:absolute;
	left:195px;
	top:117px;
	width:41px;
	height:48px;
}

#bec{
	position:absolute;
	left:205px;
	top:142px;
	width:22px;
	height:26px;
}

#hairOne{
	position:absolute;
	left:215px;
	top:97px;
	width:2px;
	height:21px;
}

#BallOne{
	position:absolute;
	left:213px;
	top:93px;
	width:6px;
	height:6px;
}

#hairRight{
	position:absolute;
	left:227px;
	top:103px;
	width:12px;
	height:19px;
}

#ballRight{
	position:absolute;
	left:235px;
	top:101px;
	width:6px;
	height:6px;
}

#hairLeft{
	position:absolute;
	left:195px;
	top:103px;
	width:11px;
	height:20px;
}

#ballLeft{
	position:absolute;
	left:193px;
	top:101px;
	width:6px;
	height:6px;
}

